* {
    border: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    }

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.headerlink {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: nowrap;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    outline: 2px red;
}

.contentcontainer {
    display: flex;
    flex-direction: row;
}

.contentleft {
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    }

.contentright {
    
}   


.heromaintext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.herosecondarytext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    display: flex;
}

.contentimage {
    display: flex;
    
}

.randominfo {
    display: flex;
    flex-direction: column;
}

.infotext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;

}

.lowerpictures {
    display: flex;
    flex-direction: row;
}

.quotesection {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotename {
    font-size: 36px;
    font-style: normal;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
}

.bottombox {
    background-color: #3882F6;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-style: italic;
    font-weight: bolder;
    font-size: 10px;
    display: flex;
    justify-content: center;

}